/* Browser Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* Root Colors */
:root {
    --black: #141414;
    --white: #fff;
    --grey: #444444;
}

/* Basics */
body {
    font-family: "IBM Plex Sans", sans-serif;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Schriften */
h1 {
    font-weight: 900;
    font-size: 5rem;
}

h2 {
    font-weight: 600;
    font-size: 2.5rem;
}

h3 {
    font-weight: 200;
    font-size: 2rem;
}

p {
    font-weight: 300;
    font-size: 1.2rem;
}

li {
    font-weight: 300;
    font-size: 1.2rem;
}

label {
    font-weight: 300;
    font-size: 1.2rem;
}

/* header */
.header {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 8%;
    border-bottom: 1px solid var(--white);
}

nav ul {
    display: flex;
    gap: 30px;
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    color: var(--white);
    font-weight: 700;
}

nav ul li a:hover {
    color: var(--grey);
}

/* Scroll */
section {
    scroll-margin-top: 90px;
}

html {
    scroll-behavior: smooth;
}

/* hero */
#startseite {
    position: relative;
    height: 100vh;
    background-image: url("assets/img/img_hero.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 8%;
    color: var(--white);
}

.hero-text h1 {
    margin-bottom: -8px;
}

.hero-text {
    margin-top: 150px;
    z-index: 2;
}

/* Animation fade-in left */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-text {
    opacity: 0;
    animation: slideInLeft 1.5s ease-out forwards;
}

/* Über Mich */
.section-basic {
    background-color: var(--black);
    color: var(--white);
    padding: 80px 8%;
}

/* Grid */
.übermich-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

/* Bild */
.übermich-img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Text */
.übermich-text h2 {
    margin-bottom: 20px;
}

.übermich-text p {
    margin-bottom: 15px;
}

/* Galerie Tierfotografie */
.galerie {
    background-color: var(--grey);
    padding: 80px 8%;
    color: var(--white);
}

/* Scrolleffekt */
.vertikal-scroll {
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    scrollbar-width: none;
    margin-top: 15px;
}

/* Bilder */
.vertikal-scroll img {
    width: 100%;
    height: 450px;
}

.vertikal-scroll #fuchs {
    object-position: center bottom;
}

/* Galerie Landschaftsfotografie */
.horizontal-scroll {
    display: flex;
    gap: 30px;
    margin-top: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    scrollbar-width: none;
}

.horizontal-scroll img {
    width: 400px;
    height: 600px;
}

/* Anmeldeformular */
#anmelden h2 {
    margin-top: 30px;
}

.formular {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formular div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.formular input {
    padding: 10px 12px;
    border-radius: 5px;
    border: 1px solid var(--grey);
    font-size: 1rem;
}

.formular input[type="submit"] {
    margin-top: 10px;
    background-color: var(--grey);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

/* Footer */
#footer {
    background-color: var(--black);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--white);
    grid-template-columns: 1fr 1fr;
    padding: 8vh 8%;
    align-items: flex-end;
}